h2, ol li, footer {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
}

h2.visible, ol li.visible, footer.visible {
    opacity: 1;
    transform: translateY(0);
}
  



.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0088cc;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
    gap: 10px;
    font-weight: bold;
}

.contact-button img {
    width: auto;
    height: 1.5em; /* Подстраивается под текст */
    max-height: 24px; /* Ограничение по высоте */
}

.contact-button:hover {
    background-color: #0077b5;
}

